/* title */
.title,.case {
    width: 100%;
    max-width: 7.5rem;
    margin: 0 auto;
    background: #ffffff;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    margin: 0 auto;    
}
.title h1 {
    border-top:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
    font-size: .18rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    position: relative;
}
.title h1 a {
    position: absolute;
    color: gray;
    left: .1rem;    
}
/* title end */

/* intro */
.intro {
    max-width: 7.5rem;
    margin: 0 auto;
    background: #ffffff;
    padding-top: .12rem;
    padding-left: .125rem;
    padding-right: .125rem;
    padding-bottom: .1rem;
    margin-bottom: .15rem;
}
.intro h5 {
    font-size: .16rem;
    font-family: 'Microsoft-YaHei','Times New Roman', Times, serif;
    margin-bottom: .11rem;
    width: 100%;
    max-width: 7.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.intro > p {
    font-size: .14rem;
    width: 100%;
    max-width: 7.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: .18rem;
}
.intro div {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-wrap: wrap;
    border: 1px solid #dddddd;
}
.intro div p {
    text-align: center;
    width: 50%;
    font-size: .14rem;
    margin-bottom: .15rem;
    margin-top: .15rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* imgList */
.imgList {
    max-width: 7.5rem;
    margin: 0 auto;
    background: #ffffff;
    padding-left: .15rem;
    padding-right: .15rem;
    margin-bottom: .15rem;
}
.imgList ul li a h5 {
    font-size: .14rem;
    text-align: center;
    padding: .15rem 0;
    font-family: 'Microsoft-YaHei','Times New Roman', Times, serif;
    letter-spacing: .01rem;
    position: relative;
}
.imgList ul li a h5::before {
    content: '';
    width: .04rem;
    height: .1rem;
    background: #127a59;
    position: absolute;
    margin-left: -0.1rem;
    border-top-left-radius: 80%;
    border-bottom-left-radius: 80%;
    top: .18rem;
}
.imgList ul li a h5::after {
    content: '';
    width: .04rem;
    height: .1rem;
    background: #127a59;
    position: absolute;
    margin-left: .05rem;
    border-top-right-radius: 80%;
    border-bottom-right-radius: 80%;
    top: .18rem;
}
.imgList ul li a img {
    width: 100%;
}
/* more */
.more {
    max-width: 7.5rem;
    margin: 0 auto;
    background: #ffffff;
    padding:.15rem;
}
.more > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .15rem;
    flex-wrap: wrap;
}
.more > div p {
    font-size: .16rem;
}
.more > div a {
    font-size: .14rem; 
}
.more ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.more ul li {
    width: 49%;
    margin-bottom: .15rem;
}
.more > ul > li > a > img:nth-of-type(1) {
    width: 100%;
    display: block;
}
.more ul li a p {
    width: 100%;
    font-size: .14rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.more ul li a div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.more ul li a div img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
}
.more ul li a div span {
    padding-left: .1rem;
    font-size: .12rem;
}