/* title */
.title,.case {
    width: 100%;
    max-width: 7.5rem;
    margin: 0 auto;
    background: #ffffff;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    margin: 0 auto;
}
.title h1 {
    border-top:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
    font-size: .18rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    position: relative;
}
.title h1 a {
    position: absolute;
    color: gray;
    left: .1rem;    
}
/* title end */

/* case */
.case button {
    width: 90%;
    height: 30px;
    border: none;
    display: inherit;
    outline: none;
    margin: 0 auto;
}
.case ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.case ul li {
    text-align: center;
    font-size: .14rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: .1rem; */
}
.case .choice-btn li a {
    padding: .03rem 0rem;
    /* background: #e0e0e0; */
    /* border-radius: .05rem; */
    display: block;
    width: 90%;
    border: 1px solid #dddddd;
}
.case .choice-btn li a:last-child {
    margin-right: 0;
}
.case-case {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: .15rem;
    padding-right: .15rem;
}
.case-case li ul:nth-of-type(2) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.case-case li ul:nth-of-type(2) li {
    width: auto;
    padding: 5px !important;
    margin-right: 10px;
    background: #707070;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
}
.case .case-case > li {
    width: 100%;
}
.case .case-case  li  img {
    width: 100%;
}
.case .case-case h3 {
    float: left;
    margin-bottom: .1rem;
}
.case .case-case .designer {
    display: flex;
    justify-content: flex-start;
    margin-top: .1rem;
}
.case .case-case .designer li {
    text-align: center;
    border-radius: .05rem;
    padding: .01rem .05rem;
    width: auto;
    margin-right: .05rem;
}
.case .case-case .designer li a {
    display: block;
}
.case .case-case .designer li:nth-of-type(1) {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
} 
.case .case-case .designer li:nth-of-type(2) {
    background: #707070;
    color: #ffffff;
}
.case .case-case .designer li:nth-of-type(3) {
    background: #707070;
    color: #ffffff;
}
.case .case-case .designer li:nth-of-type(4) {
    background: #707070;
    color: #ffffff;
}
/* .case ul:first-child li a::after {
    content: '∨';
    font-size: .12rem;
} */
.case-case li {
    padding-top: 0 !important;
}
.case > ul:first-child {
    padding-top: .075rem;
    padding-bottom: .075rem;
}
.first {
    display: flex !important;
}
/* case end */

/* dialog */
.dialog {
    min-width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, .2);
    position: fixed;
    top:0;
    left: 0;
    display: none;
}
.dialog .area {
    width: 100%;
    max-width: 7.5rem;
    margin: 0 auto;
    padding: .1rem;
    background: #ffffff;
    position: absolute;
}
.dialog .close {
    position: absolute;
    left:50%;
    top:100%;
    font-size: .14rem;
    border: 1px solid #f0f0f0;
    background: #ffffff;
    width: .4rem;
    height: .2rem;
    text-align: center;
    line-height: .2rem;
    cursor: pointer;
    color: gray;
}
.dialog .area ul:nth-of-type(1) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.dialog .area ul:nth-of-type(1) li {
    width: 20%;
    text-align: center;
    display: inherit;
    margin-bottom: .1rem;
}
.dialog .area ul:nth-of-type(1) li a {
    font-size: .14rem;
    /* background: #e0e0e0; */
    color: gray;
    /* padding: .05rem; */
    /* border-radius: .05rem; */
    width: 90%;
    display: block;
    margin: 0 auto;
    border: 1px solid #dddddd;
    padding: .05rem;
}
.dialog .area ul:nth-of-type(1) li a::after {
    content: '∨';
}
.active {
    color:#ffffff !important;
    background: #1d9d73 !important;
}
.active::after {
    content: '∧' !important;
}
.dialog .area ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    display: none;
}
.dialog .area ul:nth-of-type(2) li,
.dialog .area ul:nth-of-type(3) li,
.dialog .area ul:nth-of-type(4) li,
.dialog .area ul:nth-of-type(5) li,
.dialog .area ul:nth-of-type(6) li {
    width: 33.3%;
    display: inherit;
    margin-bottom: .1rem;
}
.dialog .area ul:nth-of-type(2) li a,
.dialog .area ul:nth-of-type(3) li a,
.dialog .area ul:nth-of-type(4) li a,
.dialog .area ul:nth-of-type(5) li a,
.dialog .area ul:nth-of-type(6) li a {
    font-size: .14rem;
    color: gray;
    padding: .05rem;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: .05rem;
    border: 1px solid #dddddd;
}
.dialog .area ul:nth-of-type(2) li:nth-last-of-type(1),
.dialog .area ul:nth-of-type(2) li:nth-last-of-type(2) {
    width: 50%;
}
/* dialog end */