/* title */
.title,.banner,.scene-list {
    width: 100%;
    max-width: 7.5rem;
    margin: 0 auto;
    background: #ffffff;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    margin: 0 auto;    
}
.title h1 {
    border-top:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
    font-size: .18rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    position: relative;
}
.title h1 a {
    position: absolute;
    color: gray;
    left: .1rem;    
}
.scene-list button {
    width: 90%;
    height: 30px;
    border: none;
    display: inherit;
    outline: none;
    margin: 0 auto;
    display: block;
}
/* title end */

/* banner */
.banner img {
    width: 100%;
    max-width: 7.5rem;
    margin: 0 auto;
    display: block;
}
/* banner end */

/* scene-list */
.scene-list {
    padding: .1rem;
    width: 100%;
    max-width: 7.5rem;
    margin: 0 auto;
}
.scene-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.scene-list ul li {
    width:48%;
    display: inherit;
    margin-right: 4%;
}
.scene-list ul li:nth-of-type(2n+2) {
    margin-right: 0;
}
.scene-list a {
    margin-bottom: .1rem;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scene-list a:nth-of-type(2n+2) {
    margin-right: 0%;
}
.item img {
    width: 100%;
    display: block;
    margin-bottom: .1rem;
}
.item p:nth-of-type(1) {
    width: 88px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item p:nth-of-type(3) {
    width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item p:nth-of-type(4) {
    width: 74px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item p:nth-of-type(5) {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item p {
    float: left;
    font-size: .14rem;
    padding: .02rem;
    padding-top: 0;
    color: #606060;
}
.item p:nth-of-type(1) {
    color: #000;
}
.item .appointment {
    float: right;
    background: #1d9d73;
    color: #ffffff;
    border-radius: .05rem;
    padding: .02rem;
    font-size: .12rem;
    padding-left: .1rem;
    padding-right: .1rem;
}
.item p:nth-of-type(odd) {
    float: left;
}
.item p:nth-of-type(even) {
    float: right;
}
/* scene-list end */